@import "./global";
@import "./scroller.scss";

* {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

html,
body {
	@extend .zero-margin-padding;
	background: #f2f2f2;
}

.outer-wrapper {
	@extend .zero-margin-padding;
	width: 100%;
	display: flex;
	flex-direction: column;
}
