.transparent-mark {
    opacity: 0;
}

.translucent-mark {
    opacity: 0.2;
}

.dragover-kf{
    stroke: #e2640e;
    stroke-dasharray: 4 3;
}

.highlight-kf{
    stroke: #358bcb;
    stroke-dasharray: 4 3;
}